.presentation {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(./assets/images/conseils-exploration-suivent-rose-vents-generee-par-ia.jpg);

    .presentation__box {

        padding: 4%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: $navBackgroundColor;
        border-radius: 10px;
        box-shadow: $colorBlackShadow $shadow;

        @include extra-small {
            margin: 0% 1%;
            padding: 2%;
          }

        .presentation__name {
            font-size: 200%;
            font-family: "Ubuntu Bold";
            text-align: center;

            @include extra-small {
                font-size: 150%;
              }

        }

        .presentation__jobTitle {
            font-size: 300%;
            font-family: "Gagalin";
            text-align: center;

            @include extra-small {
                font-size: 200%;
              }
        }

        .presentation__talentTags {
            font-size: 150%;
            color: $colorOrange;
            font-family: "Ubuntu MediumItalic";
            text-align: center;

            @include extra-small {
                font-size: 100%;
              }

        }
    }
}

.header__404 {
    width: 0vw;
    height: 0vh;
}

