$mainBackgroundColor: rgba(0,0,0);
$navBackgroundColor: rgba(31, 31, 31, 0.8);
$backgroundColorTools: rgb(37, 37, 37);
$fontColor: rgba(221,218,198);
$colorGrey: rgb(118, 118, 118);
$colorOrange: rgb(255, 119, 0);
$colorBlackShadow: rgba(0, 0, 0, 0.9);
$colorOrangeShadow: rgba(255, 119, 0, 0.9);
$shadow: 1px 1px 10px;
$colorFontShadow: rgba(221,218,198, 0.3);
$clearColor: rgba(0,0,0,0);
