// on définit le nom de la font-family qui sera dispo : ici Ubuntu et Gagalin

@font-face {
    
    font-family: "Ubuntu";
    src: url("/integration/assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: "Ubuntu Bold";
    src: url("/integration/assets/fonts/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: "Ubuntu BoldItalic";
    src: url("/integration/assets/fonts/Ubuntu-BoldItalic.ttf");
}

@font-face {
    font-family: "Ubuntu Italic";
    src: url("/integration/assets/fonts/Ubuntu-Italic.ttf");
}

@font-face {
    font-family: "Ubuntu Light";
    src: url("/integration/assets/fonts/Ubuntu-Light.ttf");
}

@font-face {
    font-family: "Ubuntu LightItalic";
    src: url("/integration/assets/fonts/Ubuntu-LightItalic.ttf");
}

@font-face {
    font-family: "Ubuntu Medium";
    src: url("/integration/assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
    font-family: "Ubuntu MediumItalic";
    src: url("/integration/assets/fonts/Ubuntu-MediumItalic.ttf");
}

@font-face {
    font-family: "Gagalin";
    src: url("/integration/assets/fonts/Gagalin-Regular.ttf");
}